body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    ;

}

section {
    background-color: black;
    width: 370px;
    height: 70px;
}

.box-logo {
    width: 370px;
    padding: 10px;
}

.box-banner {
    background-image: url(../image/banner.jpg);
    width: 260px;
    height: 210px;
    padding: 55px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 479px;

}

h1 {
    font-weight: bold;
    font-size: 33px;
    margin-top: -25px;
    color: #4390b5;
}

p {
    font-size: 19px;
    margin-top: 30px;
    word-spacing: 4px;
    margin-bottom: 10px;

}

button {
    color: white;
    font-size: 10px;
    border-color: rgb(234, 60, 17);
    border-radius: 7px;
    margin-top: 20px;
    width: 110px;
    height: 37px;
}

main {
    width: 370px;

}

h2 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    color: #4390b5;
}

.imagepc img {
    border-radius: 50%;
    margin-top: 15px;
}

main .box-orange {
    background-color: rgb(237, 42, 42);
    width: 370px;
    height: 230px;
    text-align: center;
    margin-top: 56px;
}


#epicode {
    color: white;
    margin-top: 10px;

}

.corsive {
    color: white;
    margin-top: 50px;

}


h3 {
    color: white;
    margin-top: 40px;
    font-size: 25px;

}

h4 {
    color: white;
    margin-top: 10px;
}

main .box-pc {
    border: solid grey;
    border-width: 1px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
    margin-top: 50px;
}

main .box-darkpc {
    border: solid grey;
    border-width: 1px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 30px;
    margin-top: 30px;
}

main .box-meeting {
    border: solid grey;
    border-width: 1px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 30px
}

footer {
    background-color: rgb(96, 170, 254);
    width: 370px;
    height: 170px;

}

footer .box-contattaci {
    text-align: center;
    margin-top: 20px;

}

footer .box-mail {
    border-bottom: 10px;
}

footer .box-address {}

hr {
    width: 200px;
}

footer .box-copyright {
    font-size: 1px;
}